.hidden-xs{
  font-weight: 500;
  display: inline-block;
  color: #e8c8e4 !important;
  margin: 20px 4px 0;
}
.user-menu {
  #user {
    padding: 0 !important;
    span {
      padding: 15px 0 15px 15px;
      display: inline-block;
      height: 100%;
    }
  }
}