<div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                    <h4 class="modal-title" id="myModalLabel">Add New Contact</h4>
                                </div>
                                <input type="hidden" id="hideId" >
                                <div class="modal-body">
                                    <form class="form-horizontal form-material" id="posAdd" method="post" enctype="multipart/form-data">
                                        <div class="form-group">
                                            <div class="col-md-12 m-b-20">
                                                <input type="text" class="form-control" name="name" id="name" placeholder="Name"> </div>
                                            <div class="col-md-12 m-b-20">
                                                <input type="text" class="form-control" name="email" id="email" placeholder="Email"> </div>
                                            <div class="col-md-12 m-b-20">
                                                <input type="text" class="form-control" name="phone" id="phone" placeholder="Phone"> </div>
                                            <div class="col-md-12 m-b-20">
                                                <input type="text" class="form-control" name="role" id="role" placeholder="Designation"> </div>
                                            <div class="col-md-12 m-b-20">
                                                <input type="text" class="form-control" name="age" id="age" placeholder="Age"> </div>
                                            <div class="col-md-12 m-b-20">
                                                <input type="text" class="form-control" name="joining_date" id="joining_date" placeholder="Date of joining"> </div>
                                            <div class="col-md-12 m-b-20">
                                                <input type="text" class="form-control" name="salery" id="salery" placeholder="Salary"> </div>
                                        </div>

                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-info waves-effect" id="possubmit" data-dismiss="modal">Save</button>
                                    <button type="button" class="btn btn-default waves-effect" id="posback" data-dismiss="modal">Cancel</button>
                                </div>
                            </div>